<html>
    <head>
        <title>EVRFR BLOG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">EVRFR BLOG</a></h1>
        </div>


        <div>
            <h2><a href="">My first post</a></h2>
            <p><strong>Hi there!</strong></p>
            <p>published: 09.05.2019, 17:30</p>
        </div>


        <div>
            <h2><a href="">My second post</a></h2>
            <p><strong>Have a great day!</strong></p>
            <p>published: 09.05.2019, 17:31</p>
        </div>
    </body>
</html>
